In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Assurance_Commandes_QR.csv", sep=";")
df.head()

               Compagnie  NbQR  cmd_montant    DateCmde DateValidation
0       ASKIA ASSURANCES   300     126000.0  29/03/2024     29/03/2024
1        SUNU Assurances   500     210000.0  29/03/2024     29/03/2024
2                    ASS   500     210000.0  05/04/2024     05/04/2024
3  PROVIDENCE Assurances   100      42000.0  09/04/2024     11/04/2024
4          SONAM GENERAL   100      42000.0  02/05/2024     06/05/2024

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Compagnie       262 non-null    object
 1   NbQR            262 non-null    int64
 2   cmd_montant     262 non-null    float64
 3   DateCmde        254 non-null    object
 4   DateValidation  262 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 10.4+ KB

In [12]:
total_amsa = df.loc[df["Compagnie"] == "ASKIA ASSURANCES", "NbQR"].sum()
total_amsa

np.int64(398300)

In [15]:
df["DateValidation"] = pd.to_datetime(df["DateValidation"])
date_recente = df["DateValidation"].min()
date_recente

Timestamp('2024-03-29 00:00:00')